<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <IonButton color="primary" routerLink="/pagina1"> Pagina 1</IonButton>
  <IonButton color="secondary" (click)="irPagina2()">Pagina 2</IonButton>
  <IonButton color="tertiary" (click)="irPagina3()">Pagina 3</IonButton>
  <IonButton color="success">Success</IonButton>
  <IonButton color="warning">Warning</IonButton>
  <IonButton color="danger">Danger</IonButton>
  <IonButton color="light">Light</IonButton>
  <IonButton color="medium">Medium</IonButton>
  <IonButton color="dark">Dark</IonButton>
</ion-content>
